<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2c30adbff5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./asset/css/style.css">
    <title>BoolZapp</title>
</head>

<body>

    <div class="container" id="app">
        <aside class="content_Utente">
            <section class="header_Utente">
                <div class="imgUtente"><img :src="io.imgUtente" alt=""></div>
                <div class="nomeUtente">{{io.utente}}</div>
                <div class="iconUtente">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </section>

            <section class="notifiche">
                <div class="iconaNotifiche"> <i class="fas fa-bell-slash"></i></div>
                <div class="attivaNotifiche">
                    <p>Ricevi notifiche di nuovi messaggi</p>
                    <a href="">Attiva notifiche desktop</a>
                </div>
            </section>
            <section class="cerca">
                <div class="cerca_Amici">
                    <i class="fas fa-search"></i>
                    <input v-model="search" type="text" placeholder="Cerca o inizia una nuova chat">
                </div>
            </section>

            <section class="amici">
                <!-- parte dinamica  -->
                <div class="contact" v-for="(contact, index) in filteredList" @click="counter = index">
                    <div class="contatto_img"><img :src="`./asset/img/avatar`+ contact.avatar +`.jpg`"></div>
                    <div class="contatto_nome">{{contact.name}}</div>
                    <div class="contatto_data">Data:
                        {{contacts[index].messages[contacts[index].messages.length-1].date}}
                    </div>
                    <div class="contatto_messaggio">{{contacts[index].messages[contacts[index].messages.length-1].text}}
                    </div>
                </div>

            </section>
        </aside>


        <main class="content_Chat">
            <section class="header_Chat">
                <!-- chat dinamica -->
                <div class="chat">
                    <!-- icona -->
                    <!-- ultimo accesso -->
                    <img :src="'asset/img/avatar'+ contacts[counter].avatar +'.jpg'">
                    <div class="ultimo_accesso">
                        <h3>{{ contacts[counter].name}}</h3>
                        <p>Ultimo accesso: {{contacts[counter].messages[contacts[counter].messages.length-1].date}}</p>
                    </div>


                </div>
                <div class="iconeChat">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </section>

            <section class="Text_Chat">
                <!-- messaggi dinamici  -->
                <div class="messaggi_ricevuti" v-for="elemento in contacts[counter].messages">
                    <div :class="elemento.status">
                        <span>{{elemento.text}}</span>
                        <span>{{elemento.date}}</span>
                    </div>
                </div>
            </section>

            <section class="send_Text">

                <div class="smile">
                    <i class="far fa-smile"></i>
                </div>
                <!-- per messaggi da inserire  -->
                <div class="scrivi_Messaggio">
                    <input type="text" placeholder="Scrivi Messaggio" v-model="message" @keyup.enter="sendMessage">
                </div>
                <div class="audio">
                    <i class="fas fa-microphone"></i>
                </div>
            </section>
        </main>


    </div>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./asset/js/main.js"></script>
</body>

</html>